.mobile-menu {
    display: none;
    position: fixed;
    background: #020202cf;
    width: 100%;
    height: 100vh;
    gap: 40px;
    top: 0;
    flex-direction: column;
    padding: 30px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    animation: moveInBottomLeft;
  }

  .mobile-menu-close {
    position: relative;
    left: 19em;
  }

  .mobile-menu > a {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    text-decoration: none;
  }

  .menu-icon {
    cursor: pointer;
    position: relative;
    left: -10px;
    padding: 0;
    margin-top: 0.9em;
    height: max-content;
    width: 2em;
    height: 2em;
  }
  
  .menu {
    display: none;
  }
.co{
    font-family: 'cocogoose-regular', sans-serif;
}
.la{
    font-family: 'Lato',sans-serif;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/background-mobile2.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.red{
    color: #ec5242;;
}
.gray{
    color: #6f7073;
}
.head{
    margin-left: 10px;
}
.paragraph{
    background-color: #cfd1d2;
}