.co{
    font-family: 'cocogoose-regular', sans-serif;
}
.la{
    font-family: 'Lato',sans-serif;
}
.red{
    color: #ec5242;
}
.gray{
    color: #6f7073;
}
@media only screen and (max-width: 768px){

.toolbar{
    background-color: #cfd1d2 ;
    width: 45em;
}
.mobile-menu {
    display: none;
    position: fixed;
    background: #020202cf;
    width: 100%;
    height: 100vh;
    gap: 40px;
    top: 0;
    flex-direction: column;
    padding: 30px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
 .img{
    width: 1em;
    height: 1em;
 }
  .mobile-menu-close {
    position: relative;
    left: 19em;
  }

  .mobile-menu > a {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    text-decoration: none;
  }

  .menu-icon {
    cursor: pointer;
    position: relative;
    left: 3x;
    padding: 0;
    margin-top: 0.9em;
    height: max-content;
    width: 2em;
    height: 2em;
    margin-top: 0;
  }
  
  .menu {
    display: none;
  }
.co{
    font-family: 'cocogoose-regular', sans-serif;
}
.la{
    font-family: 'Lato',sans-serif;
}
.content{
   /* width: 35em;*/
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
}

.content-back{
    background-image: url(img/wider.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width: 45em;
}
.red{
    color: #ec5242;
}
.gray{
    color: #6f7073;
}
.head{
    margin-left: 151px;
    width: 25em;
}
.Hello{
    font-size: 25px;
}
.headp{
    -webkit-background-clip: text;
    
    font-size: 42px;
}
.paragraph{
    background-color: #cfd1d2;
    width: 35em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 3px;
}
.foot .co{
    font-family: 'Cocogoosetrial', sans-serif;
    font-size: 37px;
    color: #6f7073;
    padding-left: 13px;
}
.foot .la{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #6f7073;
    padding-left: 13px;
}

.para1{
    width: 35em;
    background-color: white;
    /* width: 35em; */
    -bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding: 20px;
    margin: 15px 23px 14px 12px;
    border: 2px solid #8080804d;
   
}
.para2{
    /*background-color: white; */
    width: 24em;
    -bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding: 20px;
    margin: 0px 29px -2px 116px;

}
.container{
    width: 35em;
    background-color: white;
    /* width: 35em; */
    -bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding: 20px;
    margin: 15px 23px 14px 12px
}

.strong{
    font-size: 30px;
    width: 11em;
    padding-left: 85px;
}
.light{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #6f7073;
    width: 23em;
    padding-left: 85px;
}
.image{
    width: 31em;
    background-color: white;
    /* width: 35em; */
    -bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding: 20px;
    margin: 15px 23px 14px 12px;
    border: 2px solid #8080804d;
}
.image img{
    padding-left: 39px;
}
.str{
    font-size: 37px;
    width: 15em;
    padding-left: 85px;
}
.lig{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #6f7073;
    width: 27em;
    padding-left: 85px;
}
.cut{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #6f7073;
    padding-left: 191px;
    width: 15em;
}
.history{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.year{
    padding-top: 61px;
    padding-left: 191px;
    display: flex;
    align-self: center;
    color: white;
    font-size: 38px;
}
.cc{
    padding-left: 100px; 
    color: white;
    font-size: 24px;
}
.first-histo{
    background-image: url(img/hawa.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 45em;
    height: 20em;
    padding: 0;
    margin: 0;
}
.sec-histo{
    background-image: url(img/fem.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 45em;
    height: 20em;
    padding: 0;
    margin: 0;
}
.footer-first2 {
    max-width: 49em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    background-color: #272a31;
    margin-top: 80px;
}
.footer-first2 h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #fff;
}
.sponsor2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.sponsor2 img {
    margin: 6px 9px;
}
.footer-second2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 3%;
    background-color: #fff;
}
.footer-second2 img {
    width: 30%;
    height: 10%;
}
#desktop-p {
    display: none;
}
.footer-second2 p {
    width: 30%;
    height: 10%;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #272a31;
}
footer{
    min-width: 40em;
}
.social-media{
    display: none;
}
.logop{
    display: none;
}
}
@media only screen and (min-width: 768px){
 /*  
.footer-second2 p {
    width: 30%;
    height: 10%;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #272a31;
}
.menu-icon{
    display: none;
}
.mobile-menu {
    display: none;
  }

.social-media{
    min-width: 90em;
    display: flex;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #344563;
    gap: 3%;
    background-color: black;
 }
 .social-media a{
    display: flex;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 31px;
    align-items: center;
    text-align: center;
    color: #344563;
    gap: 15%;
    background-color: black;
    margin-right: 63px;
    text-decoration: none;
    color: #ffff;
 }
 .img{
    width: 2em;
    height: 1em;
 }
 
  .toolbar .menu {
    display: flex;
    gap: 4.5rem;
  }
 
  .content-back{
    text-align: center;
  }
.logop{
    padding-left: 7em;
    width: 2em;
    height: 2em;
}
.mylogo img{
    width: 9em;
    height: 4em;
}
  .desk{
    min-width: 90em;
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-right: 58px;
    align-items: center;
    text-align: center;
    color: #344563;
    gap: 3%;
    background-color: #ffff;
  }
  .desk a{
        background-color: #ffff;
        text-decoration: none;
        color: #344563;
  }
 .content-back{
    width: 100%;
 }
 .head{
    margin-right: 11em;
    
 }
 .Hello{
    margin-top: 2em;
 }
 .para1{
    margin-right: 9em;
    margin-left: 151px;
    width: auto;
    align-items: center;
 }
 .para2{
    margin-right: 2em;
    padding-left: 47px;
    width:auto;
 }
 .second{
    padding-left: 11em;
 }
 .container{
    width: auto;
 }
 .strong{
    width: auto;
    padding-left: 151px;
 }

.toolbar{
    height: 4em;
}
.content-back {
    min-width: 85em;
}*/
.menu-icon{
    display: none;
}
.mobile-menu {
    display: none;
  }

.social-media{
    min-width: 90em;
    display: flex;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #344563;
    gap: 3%;
    background-color: black;
 }
 .social-media a{
    display: flex;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 31px;
    align-items: center;
    text-align: center;
    color: #344563;
    gap: 15%;
    background-color: black;
    margin-right: 63px;
    text-decoration: none;
    color: #ffff;
 }
 .img{
    width: 2em;
    height: 1em;
 }
 
  .toolbar .menu {
    display: flex;
    gap: 4.5rem;
    
  }
 
.logop{
    padding-left: 7em;
    width: 2em;
}
.mylogo img{
    width: 9em;
    height: 4em;
}
  .desk{
    height: 4em;
    min-width: 90em;
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-right: 58px;
    align-items: center;
    text-align: center;
    color: #344563;
    gap: 3%;
    background-color: #ffff;
  }
  .desk a{
        background-color: #ffff;
        text-decoration: none;
        color: #344563;
  }
 
 .head{
    margin-right: 11em;
    
 }
 .Hello{
    margin-top: 2em;
 }
 .para1{
    margin-right: 9em;
    margin-left: 151px;
    width: auto;
    align-items: center;
 }
 .para2{
    margin-right: 2em;
    padding-left: 47px;
    width:auto;
 }
 
 .container{
    width: auto;
 }
 .strong{
    width: auto;
    padding-left: 151px;
 }

.toolbar{
    height: 4em;
}
.content-back {
    min-width: 85em;
        background-image: url(img/wider.jpg);
        background-repeat: no-repeat;
        background-size: 100% 45em; 
       height: 45em;
    }
    .content{
        width: 55em;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        margin-left: 30em;
        
    }
    .head{
        margin-left: -23px;
       
    }
    .Hello{
        font-size: 25px;
    }
    .headp{
        -webkit-background-clip: text;
        font-weight: 700;
        font-size: 52px;
    }
    .para1{
        width: 35em;
        background-color: white;
        /* width: 35em; */
        -bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        padding-left: 20px;
        padding-right: 20px;
        margin-left:-12px ;
        margin-right: 187px ;
        border: 2px solid #8080804d;
        font-size: 24px;
        border: 2px solid #8080804d;
       
    }
    .second{
        padding-left: 14em;
    }
    .para2-first{
        padding-left: 3em;
    }
    
    .container{
        width: 42em;
        margin-left: 30em;
        background-color: white;
        /* width: 35em; */
        -bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
       
    }
    .strong{
        padding: 10px;
        font-size: 30px;
        padding-left: 85px;
    }
    .light{
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        color: #6f7073;
       
    }
    .image{
        width: 31em;
        background-color: white;
        /* width: 35em; */
        -bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        padding: 30px;
       margin-left: 5em;
        border: 2px solid #8080804d;
    }
    .past-summit{

    }
    .str{
        font-size: 37px;
        width: 15em;
        margin-left: 15em;
    }
    .classify{
        width: 2px solid #8080804d;
        padding-left: 4em;
    }
    .lig{
        margin-left: 27em;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        color: #6f7073;
        width: 27em;
        padding-left: 85px;
    }
    .cut{
        margin-left: 27em;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        color: #6f7073;
        padding-left: 191px;
        width: 15em;
    }
    .history{
        display: flex;
        gap: 2em;
    }
    .first-histo{
        background-image: url(img/hawa.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-width: 45em;
        height: 20em;
        padding: 0;
        margin-left: 1em;
    }
    .year{
        padding-top: 61px;
        padding-left: 191px;
        display: flex;
        align-self: center;
        color: white;
        font-size: 38px;
    }
    .cc{
        padding-left: 100px; 
        color: white;
        font-size: 24px;
    }
    .sec-histo{
        background-image: url(img/fem.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-width: 45em;
        height: 20em;
        padding: 0;
        margin: 0;
    }
}
 
